<div class="">
    <i class="ai-lock-on"></i>
    <h2 style="text-align: center">
        iosボードゲームアプリ<br />
        「{{ site.abstract-games.name }}」をリリースしました！
    </h2>
    <h4 style="text-align: center">全機能 "無料" で公開中！！</h4>
    <div style="display: flex; justify-content: center">
        <a href="{{ site.abstract-games.download-link }}" target="_blank">
            <img
                style="width: 250px; margin: 50px"
                src="{{ site.abstract-games.icon }}"
                alt="アプリアイコン"
            />
        </a>
    </div>
    <div style="display: flex; justify-content: center">
        <a href="{{ site.abstract-games.download-link }}" target="_blank">
            <img
                style="width: 200px"
                src="{{site.app-download-badge-white-jp}}"
                alt="ダウンロードボタン"
            />
        </a>
    </div>
</div>
