<div class="">
    <i class="ai-lock-on"></i>
    <h2 style="text-align: center">
        個人用年表管理アプリ<br />
        「{{ site.nenpyo-maki.name }}」をリリースしました！
    </h2>
    <h4 style="text-align: center">完全買い切り。追加の費用は発生しません。</h4>
    <div style="display: flex; justify-content: center">
        <a href="{{ site.nenpyo-maki.download-link}}" target="_blank">
            <img
                style="width: 250px; margin: 50px"
                src="{{ site.nenpyo-maki.icon }}"
                alt="アプリアイコン"
            />
        </a>
    </div>
    <div style="display: flex; justify-content: center">
        <a href="{{ site.nenpyo-maki.download-link }}" target="_blank">
            <img
                style="width: 200px"
                src="{{site.app-download-badge-white-jp}}"
                alt="ダウンロードボタン"
            />
        </a>
    </div>
</div>
