<div>
    <h3>okapping's アプリ一覧</h3>
    <div class="app-list">
        <div class="app-container">
            <a href="{{ site.yarn-holder.download-link }}" target="_blank">
                <img
                    class="app-image"
                    src="{{ site.yarn-holder.icon }}"
                    alt="{{ site.yarn-holder.name }} app icon"
                />
            </a>
            <div class="app-name">{{ site.yarn-holder.name }}</div>
        </div>
        <div class="app-container">
            <a href="{{ site.abstract-games.download-link }}" target="_blank">
                <img
                    class="app-image"
                    src="{{ site.abstract-games.icon }}"
                    alt="{{ site.abstract-games.name }} app icon"
                />
            </a>
            <div class="app-name">{{ site.abstract-games.name }}</div>
        </div>
        <div class="app-container">
            <a href="{{ site.nenpyo-maki.download-link }}" target="_blank">
                <img
                    class="app-image"
                    src="{{ site.nenpyo-maki.icon }}"
                    alt="{{ site.nenpyo-maki.name }} app icon"
                />
            </a>
            <div class="app-name">{{ site.nenpyo-maki.name }}</div>
        </div>
    </div>
</div>
